<!-- your html code here -->
<nav class="navbar navbar-expand-lg bg-menu">
    <div class="container-fluid">
      <a class="navbar-brand gris sobre-enlace" href="#">Start Bootstrap</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active gris sobre-enlace" aria-current="page" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link gris sobre-enlace" href="#">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link gris sobre-enlace" href="#">Portfolio</a>
          </li>

          <li class="nav-item">
            <a class="nav-link gris sobre-enlace" href="#">Contact</a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>