<!-- your html code here -->

<hr class="dropdown-divider bg-light">
<div class="container">
    <h1>Porfolio</h1>
    <p id="text-principal">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ante turpis, tincidunt
        rhoncus orci in, fermentum
        molestie felis. Quisque bibendum dictum ullamcorper. Praesent ac sapien vel nisi sollicitudin tincidunt at sit
        amet risus. </p>
</div>
<div class="container justify-content-center ">
    <div class="row">

        <div class="col-4 div-font-size">
            <img src="https://loremflickr.com/700/401" class="img-thumbnail" alt="">
            <h3 class="p-2">Project Name</h3>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ante turpis, tincidunt rhoncus orci in,
                fermentum
                molestie felis.</p>
        </div>

        <div class="col-4 div-font-size ">
            <img src="https://loremflickr.com/701/400" class="img-thumbnail" alt="">
            <h3 class="p-2"> Project Name</h3>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit.Mauris ante turpis, tincidunt rhoncus orci in,
                fermentum.</p>
        </div>
        <div class="col-4 div-font-size">
            <img src="https://loremflickr.com/700/400" class="img-thumbnail" alt="">
            <h3 class="p-2">Project Name</h3>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ante turpis, tincidunt rhoncus orci in,
                fermentum
                molestie felis.</p>
        </div>
    </div>

</div>