<!-- your html code here -->



<div class="divider">
    
</div>

<div class="container">
    <div class="row">
        <div class="col-4">

            <img src="/website/assets/img/2.jpg" alt="" class="rounded-circle img-rounded">


        </div>
        <div id="title-h1">
            <h3>
                The Second Heading
                <small class="text-muted">Is Pretty Cool Too.</small>
            </h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis non erat in mi eleifend facilisis quis
                nec
                arcu. Sed non feugiat odio. Vestibulum in pretium orci, eget tempus purus. Donec ac justo consequat,
                cursus
                erat at, consequat ante. </p>
        </div>

    </div>
</div>


